#canvas {
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
  }
    
.node {
position: absolute;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: #fff;
border: 2px solid #000;
text-align: center;
vertical-align: middle;
line-height: 20px;
font-size: 12px;
font-weight: bold;
cursor: pointer;
}

.line {
position: absolute;
border: 1px solid #000;
text-align: center;
font-size: 12px;
font-weight: bold;
pointer-events: none;
}

.was-computer{
    background-color: #6567fd;
}
.observed-node{
background-color: #13d613;
} 

/*keep this below observed node so its background color takes priority*/
.visited-node{
    background-color: #d61313;
}