#canvas {
    border: 1px solid rgb(206, 206, 206);
  }
  

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #2e2626;
} 


body {
    color: white;
  }
  