

<!DOCTYPE html>
<html>
 
<head>
  <title>Finite State Machine Visualizer</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
    <canvas id="canvas" height="800" width="1200"></canvas>
    <label for="start">Start node:</label>
    <select id="start">
        <option value="node1">Node 1</option>
        <option value="node2">Node 2</option>
        <option value="node3">Node 3</option>
        <option value="node4">Node 4</option>
      <!-- add more nodes as needed -->
    </select>
    <label for="goal">Goal node:</label>
    <select id="goal">
      <option value="node1">Node 1</option>
      <option value="node2">Node 2</option>
      <option value="node3">Node 3</option>
      <option value="node4">Node 4</option>
      <option value="node5">Node 5</option>
      <option value="node6">Node 6</option>
      <!-- add more nodes as needed -->
    </select>
    <select id="algorithm">
        <option value="bfs">Breadth-first search</option>
        <option value="dfs">Depth-first search</option>
      </select>
      
    
      <button id="step-button">Next step</button>

      <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
